/* App.css */
.search-container {
  margin-bottom: 20px;
  width: 40%;
  position: relative;
  top: 50px;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.not-available {
  text-align: center;
  font-size: 18px;
  color: red;
  margin-top: 20px;
}
